<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/detalle.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/registro.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/detalle.js" ></script>
  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="/">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="/generos">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="/buscar">Buscador</a></li>
                <li class="menu-item search">
                    <form class="" action="/buscar/resultados" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit" name="">Buscar</button>
                    </form>
                </li>




                <li class="menu-item"><a class="color-violet" href="/registros">Regístrate</a></li>

                <li class="menu-item"><a class="color-violet" href="/login">Mis reseñas</a></li>
              


            </ul>
        </nav>
    </header>
    <main>

      <div class="uk-section">
        <div class="uk-container">
          <div class="uk-grid">
            <div class="uk-width-1-3 imagenSerie">

            </div>
            <div class="uk-width-2-3 dataSerie">

            </div>
          </div>

          <div class="uk-section">
            <div class="seasons">
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

                <ul class="listaTemporadas uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                    <!-- <li>
                        <img src="images/slider1.jpg" alt="">
                        <div class="uk-position-center uk-panel"><h1>1</h1></div>
                    </li> -->
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="/detalles" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="/detalles" uk-slidenav-next uk-slider-item="next"></a>

            </div>
            </div>
          </div>
        </div>

        <!-- Form reseñas -->
        <h3 style="color: aliceblue; text-align: center; margin-bottom: 3%;">Añade una reseña pública.</h3>
        <form class="allForm" action="/detalles/<%= serieId %>" method="POST">
          <div>
           <input type="hidden" name="serieId" value="<%= serieId %>">
          </div>
          <div class="form-group">
            <input class="form-control" id="email" type="email" name="email" placeholder="Email">
          </div> 
          <br>
          <div class="form-group">
            <input class="form-control" id="pwd" type="password" name="pwd" placeholder="Contraseña">
          </div>
          <br>
          <div class="form-control">
            <textarea name="text" id="text" cols="30" rows="10" placeholder="Escriba aquí su reseña"></textarea>
          </div>
          <br>
          <br>
          
          <div class="rating">
            <input type="radio" name="star" id="star1" value="5"><label for="star1">
            </label>
            <input type="radio" name="star" id="star2" value="4"><label for="star2">
            </label>
            <input type="radio" name="star" id="star3" value="3"><label for="star3">
            </label>
            <input type="radio" name="star" id="star4" value="2"><label for="star4">
            </label>
            <input type="radio" name="star" id="star5" value="1"><label for="star5">
            </label>
          </div>
      
          <button class="buttonForm" type="submit">Enviar</button>
        </form>

      </div>


      <!-- Reseñas -->
      <div class="reseña">
        <h2 style="color: aliceblue; font-weight: bold;">Comentarios</h1>   
        <ul>
            <% for( let i = 0; i < resultados.length; i++ ) { %>
              <li>
                <div><img src="/images/logoUser.png" alt=""> </div>
                <article>
                  <h4 style="color: aliceblue;"><%= resultados[i].Usuarios.username %></h6>
                  <p><%= resultados[i].content %> </p>
                  <p>Puntaje: <%= resultados[i].rating %> </p>
                  <p>Actualizado: <%= resultados[i].updatedAt %></p>
                </article>
              </li>
          <% } %>  
        </ul>  
      </div>

    <div style="height: 200px;"></div>

    </main>
    
    <!-- footer -->
  <footer>

    <div class="dh"><img src="/images/logo-dh-blanco.png" alt="dh"></div>
    
    <div class="tmdb"><img src="/images/logotmdb.jpg" alt="tmdb"></div>

    <article class="">
      <strong style="color: rgb(203, 30, 64);">INTEGRANTES</strong>
      <ul>
        <li>Joaquín Gomez Rebelo</li>
        <li>Eric Ryosho Shimizukawa</li>
        <li>Candela Rocío Flores</li>
      </ul>
    </article>

  </footer>
  </body>
</html>
